.videopara{
    display: none;
    max-width: 95%;
    margin-top: 40px;
    gap: 15px;
    columns: 4 440px;;
    margin-bottom: 20px;
}
.videolink{
    display: none;
}
.videop{
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    list-style: none;
    margin-bottom: 14px;
    border-radius: 3px;
    cursor: pointer;
}

.videop img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    
}

.videobox-top{
    height: 100px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.playbtn{
 
}
.videobox-top i{
    font-size: 2.1rem;
    color: rgb(240, 248, 255);
    background-color: rgba(0, 0, 0, 0.521);
    border: 10px solid transparent; 
    position: absolute;
    border-radius: 100%;
    margin-left: 12px;
    margin-top: 10px;
}

.videobox-down{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
   position: absolute;
   bottom:-100px;
   transition: bottom 0.2s ease;
    background: linear-gradient(to top, #0000007a,transparent);
}

.Photographer-v-name{
    display: flex;
    align-items: center;
    width: 40%;
    margin-top: 30px;
    color: rgb(240, 247, 255);
}

.Photographer-v-name img{
height: 50px;
width: auto;
}

.videobox-down button{
    margin-top: 30px;
    margin-right:20px ;
}

.videop:hover .videobox-down{
    bottom: 0;
}

